layout {
    background-color "transparent"

    focus-ring {
        active-color   "#8c4a5e"
        inactive-color "#847376"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#8c4a5e"
        inactive-color "#847376"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8c4a5e"
        inactive-color "#847376"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#8c4a5e80"
    }
}

recent-windows {
    highlight {
        active-color   "#703346"
        urgent-color   "#ba1a1a"
    }
}